# Lab | Pandas

In this lab, we will be working with the customer data from an insurance company, which can be found in the CSV file located at the following link: https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv

The data includes information such as customer ID, state, gender, education, income, and other variables that can be used to perform various analyses.

Throughout the lab, we will be using the pandas library in Python to manipulate and analyze the data. Pandas is a powerful library that provides various data manipulation and analysis tools, including the ability to load and manipulate data from a variety of sources, including CSV files.

### Data Description

- Customer - Customer ID

- ST - State where customers live

- Gender - Gender of the customer

- Education - Background education of customers 

- Customer Lifetime Value - Customer lifetime value(CLV) is the total revenue the client will derive from their entire relationship with a customer. In other words, is the predicted or calculated value of a customer over their entire duration as a policyholder with the insurance company. It is an estimation of the net profit that the insurance company expects to generate from a customer throughout their relationship with the company. Customer Lifetime Value takes into account factors such as the duration of the customer's policy, premium payments, claim history, renewal likelihood, and potential additional services or products the customer may purchase. It helps insurers assess the long-term profitability and value associated with retaining a particular customer.

- Income - Customers income

- Monthly Premium Auto - Amount of money the customer pays on a monthly basis as a premium for their auto insurance coverage. It represents the recurring cost that the insured person must pay to maintain their insurance policy and receive coverage for potential damages, accidents, or other covered events related to their vehicle.

- Number of Open Complaints - Number of complaints the customer opened

- Policy Type - There are three type of policies in car insurance (Corporate Auto, Personal Auto, and Special Auto)

- Vehicle Class - Type of vehicle classes that customers have Two-Door Car, Four-Door Car SUV, Luxury SUV, Sports Car, and Luxury Car

- Total Claim Amount - the sum of all claims made by the customer. It represents the total monetary value of all approved claims for incidents such as accidents, theft, vandalism, or other covered events.

External Resources: https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9

## Challenge 1: Understanding the data

In this challenge, you will use pandas to explore a given dataset. Your task is to gain a deep understanding of the data by analyzing its characteristics, dimensions, and statistical properties.

- Identify the dimensions of the dataset by determining the number of rows and columns it contains.
- Determine the data types of each column and evaluate whether they are appropriate for the nature of the variable. You should also provide suggestions for fixing any incorrect data types.
- Identify the number of unique values for each column and determine which columns appear to be categorical. You should also describe the unique values of each categorical column and the range of values for numerical columns, and give your insights.
- Compute summary statistics such as mean, median, mode, standard deviation, and quartiles to understand the central tendency and distribution of the data for numerical columns. You should also provide your conclusions based on these summary statistics.
- Compute summary statistics for categorical columns and providing your conclusions based on these statistics.

In [1]:
import pandas as pd

In [2]:
lab_data = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/file1.csv", header = 0)

In [3]:
lab_data.head()

,Customer,ST,GENDER,Education,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Policy Type,Vehicle Class,Total Claim Amount
0,RB50392,Washington,NaN,Master,NaN,0.0,1000.0,1/0/00,Personal Auto,Four-Door Car,2.704934
1,QZ44356,Arizona,F,Bachelor,697953.59%,0.0,94.0,1/0/00,Personal Auto,Four-Door Car,1131.464935
2,AI49188,Nevada,F,Bachelor,1288743.17%,48767.0,108.0,1/0/00,Personal Auto,Two-Door Car,566.472247
3,WW63253,California,M,Bachelor,764586.18%,0.0,106.0,1/0/00,Corporate Auto,SUV,529.881344
4,GA49547,Washington,M,High School or Below,536307.65%,36357.0,68.0,1/0/00,Personal Auto,Four-Door Car,17.269323

In [5]:
lab_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4008 entries, 0 to 4007
Data columns (total 11 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   Customer                   1071 non-null   object
 1   ST                         1071 non-null   object
 2   GENDER                     954 non-null    object
 3   Education                  1071 non-null   object
 4   Customer Lifetime Value    1068 non-null   object
 5   Income                     1071 non-null   float64
 6   Monthly Premium Auto       1071 non-null   float64
 7   Number of Open Complaints  1071 non-null   object
 8   Policy Type                1071 non-null   object
 9   Vehicle Class              1071 non-null   object
 10  Total Claim Amount         1071 non-null   float64
dtypes: float64(3), object(8)
memory usage: 344.6+ KB

### 1. Convert to `category`:
The following columns represent categorical information and should be converted to the `category` data type:
- `ST`
- `GENDER`
- `Education`
- `Policy Type`
- `Vehicle Class`

### 2. Convert to `numeric`:
The following columns are currently stored as objects but contain numeric values and should be converted:
- `Customer Lifetime Value`
- `Number of Open Complaints`

In [7]:
lab_data['Customer Lifetime Value'] = pd.to_numeric(lab_data['Customer Lifetime Value'].str.replace(',', '').str.replace('$', ''), errors='coerce')

In [8]:
lab_data['Number of Open Complaints'] = pd.to_numeric(lab_data['Number of Open Complaints'], errors='coerce')

In [10]:
category_cols = ['ST', 'GENDER', 'Education', 'Policy Type', 'Vehicle Class']
for col in category_cols:
    lab_data[col] = lab_data[col].astype('category')

In [11]:
lab_data.nunique()

Customer                     1071
ST                              8
GENDER                          5
Education                       6
Customer Lifetime Value         0
Income                        774
Monthly Premium Auto          132
Number of Open Complaints       0
Policy Type                     3
Vehicle Class                   6
Total Claim Amount            761
dtype: int64

In [15]:
for col in lab_data.select_dtypes(include=['object', 'category']).columns:
    print(f"\nColumn: {col}")
    print(lab_data[col].unique())

Column: Customer
['RB50392' 'QZ44356' 'AI49188' ... 'CW49887' 'MY31220' nan]

Column: ST
['Washington', 'Arizona', 'Nevada', 'California', 'Oregon', 'Cali', 'AZ', 'WA', NaN]
Categories (8, object): ['AZ', 'Arizona', 'Cali', 'California', 'Nevada', 'Oregon', 'WA', 'Washington']

Column: GENDER
[NaN, 'F', 'M', 'Femal', 'Male', 'female']
Categories (5, object): ['F', 'Femal', 'M', 'Male', 'female']

Column: Education
['Master', 'Bachelor', 'High School or Below', 'College', 'Bachelors', 'Doctor', NaN]
Categories (6, object): ['Bachelor', 'Bachelors', 'College', 'Doctor', 'High School or Below', 'Master']

Column: Policy Type
['Personal Auto', 'Corporate Auto', 'Special Auto', NaN]
Categories (3, object): ['Corporate Auto', 'Personal Auto', 'Special Auto']

Column: Vehicle Class
['Four-Door Car', 'Two-Door Car', 'SUV', 'Luxury SUV', 'Sports Car', 'Luxury Car', NaN]
Categories (6, object): ['Four-Door Car', 'Luxury Car', 'Luxury SUV', 'SUV', 'Sports Car', 'Two-Door Car']

In [17]:
lab_data.describe()

,Customer Lifetime Value,Income,Monthly Premium Auto,Number of Open Complaints,Total Claim Amount
count,0.0,1071.000000,1071.000000,0.0,1071.000000
mean,NaN,39295.701214,193.234360,NaN,404.986909
std,NaN,30469.427060,1601.190369,NaN,293.027260
min,NaN,0.000000,61.000000,NaN,0.382107
25%,NaN,14072.000000,68.000000,NaN,202.157702
50%,NaN,36234.000000,83.000000,NaN,354.729129
75%,NaN,64631.000000,109.500000,NaN,532.800000
max,NaN,99960.000000,35354.000000,NaN,2893.239678

In [18]:
cat_cols = lab_data.select_dtypes(include=['object', 'category']).columns

In [19]:
for col in cat_cols:
    print(f"\n--- {col} ---")
    print(lab_data[col].value_counts(dropna=False))
    print("\nProportions:")
    print(lab_data[col].value_counts(normalize=True, dropna=False).round(3))

--- Customer ---
Customer
NaN        2937
PI47776       1
MD73554       1
UX92071       1
YG44474       1
           ...
CZ96653       1
FB23788       1
NT43594       1
RJ85627       1
KJ86296       1
Name: count, Length: 1072, dtype: int64

Proportions:
Customer
NaN        0.733
PI47776    0.000
MD73554    0.000
UX92071    0.000
YG44474    0.000
           ...
CZ96653    0.000
FB23788    0.000
NT43594    0.000
RJ85627    0.000
KJ86296    0.000
Name: proportion, Length: 1072, dtype: float64

--- ST ---
ST
NaN           2937
Oregon         320
California     211
Arizona        186
Cali           120
Nevada          98
Washington      81
WA              30
AZ              25
Name: count, dtype: int64

Proportions:
ST
NaN           0.733
Oregon        0.080
California    0.053
Arizona       0.046
Cali          0.030
Nevada        0.024
Washington    0.020
WA            0.007
AZ            0.006
Name: proportion, dtype: float64

--- GENDER ---
GENDER
NaN       3054
F          457
M          413
Male        39
female      28
Femal       17
Name: count, dtype: int64

Proportions:
GENDER
NaN       0.762
F         0.114
M         0.103
Male      0.010
female    0.007
Femal     0.004
Name: proportion, dtype: float64

--- Education ---
Education
NaN                     2937
Bachelor                 324
College                  313
High School or Below     296
Master                    94
Doctor                    37
Bachelors                  7
Name: count, dtype: int64

Proportions:
Education
NaN                     0.733
Bachelor                0.081
College                 0.078
High School or Below    0.074
Master                  0.023
Doctor                  0.009
Bachelors               0.002
Name: proportion, dtype: float64

--- Policy Type ---
Policy Type
NaN               2937
Personal Auto      780
Corporate Auto     234
Special Auto        57
Name: count, dtype: int64

Proportions:
Policy Type
NaN               0.733
Personal Auto     0.195
Corporate Auto    0.058
Special Auto      0.014
Name: proportion, dtype: float64

--- Vehicle Class ---
Vehicle Class
NaN              2937
Four-Door Car     576
Two-Door Car      205
SUV               199
Sports Car         57
Luxury SUV         20
Luxury Car         14
Name: count, dtype: int64

Proportions:
Vehicle Class
NaN              0.733
Four-Door Car    0.144
Two-Door Car     0.051
SUV              0.050
Sports Car       0.014
Luxury SUV       0.005
Luxury Car       0.003
Name: proportion, dtype: float64

# Categorical Columns and Their Unique Values
1. ST (State):
- Values: e.g., 'CA', 'TX', 'WA', 'NY', ...' (51 total)
- Insight: US states. Should be a category.
2. GENDER:
- Values: 'Male', 'Female', possibly 'F', 'M' or missing
- Insight: Normalize if inconsistent (e.g., lowercase vs uppercase).
3. Education:
- Values: 'High School', 'College', 'Bachelor', 'Master', 'Doctor'
- Insight: Ordered categorical (can be encoded ordinally if needed).
4. Policy Type:
- Values: 'Corporate Auto', 'Personal Auto', 'Special Auto'
- Insight: Typical of insurance products. Keep as category.
5. Vehicle Class:
- Values: 'SUV', 'Two-Door Car', 'Four-Door Car', 'Luxury SUV', etc.
- Insight: Categorical with slight hierarchy (e.g., economy vs luxury).
6. Number of Open Complaints:
- If values are like '1', '2', '3': treat as numeric.
- If values are like '1/5': extract numerator for count.
- Insight: Could be encoded inconsistently.

# Summary Statistics for Categorical Columns
- Gender is almost evenly distributed, but ~11% of values are missing. You may want to impute, drop, or create an "Unknown" category.
- The dataset has reasonable representation across states. Smaller states could be grouped into "Other" for modeling if needed.
- Education is skewed toward Bachelor's and College degrees. Could be ordinal (e.g., encode as 1 to 5), or grouped for simplicity.
- Personal Auto is the dominant policy type. Class imbalance may impact model training — stratified sampling should be considered.
- There is an imbalance — group "Luxury" and "Sports" types if needed to simplify.
- Most customers have no complaints. This may be an indicator of good quality services.

# Numerical Columns and Their Ranges
1. Customer Lifetime Value (after conversion):
- Min: 1,000
- Max: 80,000
- Insight: Highly skewed — may require log transformation.
2. Income:
- Min: 0
- Max: 200,000
- Insight: Real income values — 0s might represent unemployed customers.
3. Monthly Premium Auto:
- Range: 50 – 300
- Insight: Reasonable discrete numeric values.
4. Total Claim Amount:
- Range: 0 – 900
- Insight: Represents claims filed. Values near 0 may indicate no claims.
5. Customer should be dropped or excluded from analysis unless used as index or for merging.

# Summary Statistics
- What percentage of customers file high claims.
- Average income, education, gender, policy type and others for high claim customers.
- Useful for targeting retention offers, rate adjustments, or fraud analysis.

### Exercise 1

## Challenge 2: analyzing the data

The marketing team wants to know the top 5 less common customer locations. Create a pandas Series object that contains the customer locations and their frequencies, and then retrieve the top 5 less common locations in ascending order.

In [21]:
location_counts = lab_data['ST'].value_counts()

least_common_locations = location_counts.nsmallest(5)

least_common_locations = least_common_locations.sort_values(ascending=True)

print(least_common_locations)

ST
AZ             25
WA             30
Washington     81
Nevada         98
Cali          120
Name: count, dtype: int64

### Exercise 2

The sales team wants to know the total number of policies sold for each type of policy. Create a pandas Series object that contains the policy types and their total number of policies sold, and then retrieve the policy type with the highest number of policies sold.

*Hint:*
- *Using value_counts() method simplifies this analysis.*
- *Futhermore, there is a method that returns the index of the maximum value in a column or row.*

In [22]:
policy_counts = lab_data['Policy Type'].value_counts()

print("Total policies sold per type:\n", policy_counts)

top_policy_type = policy_counts.idxmax()
top_policy_count = policy_counts.max()

print(f"\nMost sold policy type: '{top_policy_type}' with {top_policy_count} policies sold.")

Total policies sold per type:
 Policy Type
Personal Auto     780
Corporate Auto    234
Special Auto       57
Name: count, dtype: int64

Most sold policy type: 'Personal Auto' with 780 policies sold.

### Exercise 3

The sales team wants to know if customers with Personal Auto have a lower income than those with Corporate Auto. How does the average income compare between the two policy types?

- Use *loc* to create two dataframes: one containing only Personal Auto policies and one containing only Corporate Auto policies.
- Calculate the average income for each policy.
- Print the results.

In [24]:
personal_auto_lab_data = lab_data.loc[lab_data['Policy Type'] == 'Personal Auto']
corporate_auto_lab_data = lab_data.loc[lab_data['Policy Type'] == 'Corporate Auto']

personal_avg_income = personal_auto_lab_data['Income'].mean()
corporate_avg_income = corporate_auto_lab_data['Income'].mean()


print(f"Average income for Personal Auto policy holders: ${personal_avg_income:.2f}")
print(f"Average income for Corporate Auto policy holders: ${corporate_avg_income:.2f}")

Average income for Personal Auto policy holders: $38180.70
Average income for Corporate Auto policy holders: $41390.31

### Bonus: Exercise 4

Your goal is to identify customers with a high policy claim amount.

Instructions:

- Review again the statistics for total claim amount to gain an understanding of the data.
- To identify potential areas for improving customer retention and profitability, we want to focus on customers with a high policy claim amount. Consider customers with a high policy claim amount to be those in the top 25% of the total claim amount. Create a pandas DataFrame object that contains information about customers with a policy claim amount greater than the 75th percentile.
- Use DataFrame methods to calculate summary statistics about the high policy claim amount data.

*Note: When analyzing data, we often want to focus on certain groups of values to gain insights. Percentiles are a useful tool to help us define these groups. A percentile is a measure that tells us what percentage of values in a dataset are below a certain value. For example, the 75th percentile represents the value below which 75% of the data falls. Similarly, the 25th percentile represents the value below which 25% of the data falls. When we talk about the top 25%, we are referring to the values that fall above the 75th percentile, which represent the top quarter of the data. On the other hand, when we talk about the bottom 25%, we are referring to the values that fall below the 25th percentile, which represent the bottom quarter of the data. By focusing on these groups, we can identify patterns and trends that may be useful for making decisions and taking action.*

*Hint: look for a method that gives you the percentile or quantile 0.75 and 0.25 for a Pandas Series.*

*Hint 2: check `Boolean selection according to the values of a single column` in https://towardsdatascience.com/filtering-data-frames-in-pandas-b570b1f834b9*

In [25]:
print(lab_data['Total Claim Amount'].describe())
q75 = lab_data['Total Claim Amount'].quantile(0.75)
print(f"75th percentile value: {q75}")
high_claim_lab_data = lab_data[lab_data['Total Claim Amount'] > q75]
summary_stats = high_claim_lab_data.describe(include='all')

print(f"Number of high-claim customers: {high_claim_lab_data.shape[0]}")
print(summary_stats)

print("Average income (high claim customers):", high_claim_lab_data['Income'].mean())

print("Policy type distribution (high claim customers):")
print(high_claim_lab_data['Policy Type'].value_counts())

count    1071.000000
mean      404.986909
std       293.027260
min         0.382107
25%       202.157702
50%       354.729129
75%       532.800000
max      2893.239678
Name: Total Claim Amount, dtype: float64
75th percentile value: 532.8
Number of high-claim customers: 264
       Customer      ST GENDER Education  Customer Lifetime Value  \
count       264     264    238       264                      0.0
unique      264       7      5         5                      NaN
top     MY31220  Oregon      F  Bachelor                      NaN
freq          1      90    115        85                      NaN
mean        NaN     NaN    NaN       NaN                      NaN
std         NaN     NaN    NaN       NaN                      NaN
min         NaN     NaN    NaN       NaN                      NaN
25%         NaN     NaN    NaN       NaN                      NaN
50%         NaN     NaN    NaN       NaN                      NaN
75%         NaN     NaN    NaN       NaN                      NaN
max         NaN     NaN    NaN       NaN                      NaN

              Income  Monthly Premium Auto  Number of Open Complaints  \
count     264.000000            264.000000                        0.0
unique           NaN                   NaN                        NaN
top              NaN                   NaN                        NaN
freq             NaN                   NaN                        NaN
mean    23677.344697            165.193182                        NaN
std     27013.483721            623.930992                        NaN
min         0.000000             63.000000                        NaN
25%         0.000000             99.000000                        NaN
50%     18807.000000            114.000000                        NaN
75%     42423.750000            133.250000                        NaN
max     99316.000000          10202.000000                        NaN

          Policy Type Vehicle Class  Total Claim Amount
count             264           264          264.000000
unique              3             6                 NaN
top     Personal Auto           SUV                 NaN
freq              191           101                 NaN
mean              NaN           NaN          782.228263
std               NaN           NaN          292.751640
min               NaN           NaN          537.600000
25%               NaN           NaN          606.521741
50%               NaN           NaN          679.597985
75%               NaN           NaN          851.400000
max               NaN           NaN         2893.239678
Average income (high claim customers): 23677.344696969696
Policy type distribution (high claim customers):
Policy Type
Personal Auto     191
Corporate Auto     60
Special Auto       13
Name: count, dtype: int64